html,
body {
  margin: 0;
  padding: 0;
  background-color: #e7e9e7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
}

nav {
  z-index: 999;
}

main {
  background-color: #e7e9e7;
  padding-bottom: 200px;
}

/* Header */
#header {
  background-image: url(".././public/img/bg-header.jpg");
  background-size: cover;
  height: 600px;
  position: relative;
}

#header-side-img {
  background-image: url(".././public/img/header-side-img.png");
  background-size: cover;
}

@media (min-width: 992px) {
  #header {
    margin-top: -100px;
  }

  nav .container-fluid {
    background-color: transparent !important;
    max-height: 600px !important;
  }

  nav .row {
    max-height: 600px !important;
  }
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  footer .col-12 div {
    text-align: center !important;
    margin: auto;
  }
}